<h2>My Heroes</h2>

<hr/>
<ul class="heroes">
  <input
    #searchBox="ngModel"
    (ngModelChange)="searchHero(searchBox.value)"
    [(ngModel)]="searchTerm"
    name="search"
    type="search"
  />
  <li *ngFor="let hero of heroes">
    <!-- <app-hero [hero]="hero"></app-hero> -->

    <button
      (click)="onSelect(hero)"
      [routerLink]="['/heroes', hero.url]"
      type="button"
    >

      <span class="badge">{{ hero?.name }}</span>
      <span class="name">{{ hero?.name }}</span>
    </button>
  </li>
</ul>

<hr/>

