<hr/>
<h1>
  {{ hero?.name | uppercase }}
</h1>

<hr/>
<div *ngIf="hero?.descriptions?.length">
  <h2>description:</h2>
  <ol>
    <li *ngFor="let des of hero?.descriptions">
      {{ des }}
    </li>
  </ol>
</div>

<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ hero.name }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input [(ngModel)]="hero.name" id="hero-name" placeholder="name hero"/>
  </div>
</div>
<div>
  <button
    (click)="goBack()"
    [ngStyle]="{
      padding: '1.2rem',
      margin: '0.5rem 0',
      background: 'lightgrey',
      borderRadius: '4px',
      display: 'flex',
      justifyContent: 'space-between',
      alignItems: 'center'
    }"
  >
    go back
  </button>
</div>
